service cloud.firestore {
  match /databases/{database}/documents {
    match /globals/{globaldoc} {
      allow read;
    }
    match /page-views/{pageviewdoc} {
      allow read;
    }
  }
}
